@charset 'utf-8';

@font-face {
    font-family: 'Passion One', 'cursive';
    src: url('https://fonts.googleapis.com/css2?family=Passion+One&display=swap');
}

@font-face {
    font-family: 'Sriracha', 'cursive';
    src: url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');
}